.tituloCards {
    text-align: left;
    margin-right: 66.5rem;
    color: #ffffff;
    padding: 1rem;

    font-size: 1.5rem;
    font-weight: 800;
}

.wrapperCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 10000;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 2px solid;
    border-color: rgb(172, 172, 172);
    border-radius: 0.3rem;
    margin: 0 0.6rem;
    position: relative;
    background-size: cover;
}

.cards img {
    width: 3rem;
    padding: 0 0 0.5rem 0;
}

.cards h2 {
    font-size: 1rem;
}

.cards p {
    font-size: 0.8rem;
}

.cards h2,
.cards p {
    padding: 0 0 0.5rem 0;
}

.cards button {
    width: 7rem;
    height: 2rem;
    background: linear-gradient(to right, #295883, #152E45, #295883);
    color: white;

    border-radius: 1rem;
    border: none;

    font-weight: bold;

    margin: 0.5rem 0 0 0;
    cursor: pointer;
}

.contenedor-cards {
    background-color: #212529;
    padding-bottom: 2rem;
}

.fila-superior {
    display: flex;
    width: 100%;
    justify-content: center;
}

.fila-inferior {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.soluciones {
    width: 35%;
}

.soluciones:last-child {
    margin-right: 0;
}