.inicio {
    background-image: url('../imagenes/InicioBackground.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inicio img {
    max-width: 100%;
    position: absolute;


    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.botonesInicio{
    position: absolute;
    top: 75%;
    padding: 0 15rem;
}

.botonUno{
    background-color: #295883;
    color: #fff;

    width: 11rem;
    height: 3rem;
    border-color: transparent;
    border-radius: 0.3rem;
}

.botonDos{
    background-color: #21B5D2;
    color: #fff;
    
    width: 11rem;
    height: 3rem;
    border-color: transparent;
    border-radius: 0.3rem;
}